@using Microsoft.AspNetCore.Identity;

<div class="cajita">
    <div class="col-lg-6">
        <div class="text-center">
            <h1>Asociar Rol</h1><br>
        </div>

        <form method="post">

            <div class="form-group">
                <label>Usuario</label>        
                <select class="form-control" name="usuario">
                    @foreach (var item in (List<IdentityUser>)ViewBag.Usuarios)
                    {
                        <option value="@item.Id">@item.UserName</option>
                    }
                </select>
            </div>

            <div class="form-group">
                <label>Rol</label>        
                <select class="form-control" name="rol">
                    @foreach (var item in (List<IdentityRole>)ViewBag.Roles)
                    {
                        <option value="@item.Name">@item.Name</option>
                    }
                </select>
            </div>
            
            <button class="btn btn-primary">Asociar</button>
        </form>
    </div>
</div>