<div style="background-image: url(https://fatadigital.com/wp-content/uploads/2010/06/fondo_pantalla.jpg)">
    <div class="text-center">
        <h1>Crear rol</h1>
    </div>
    <div class="content">
        <div class="container">
            <div class="row"> 
                <div class="col-lg-7 ">
                    <form method="post">
                        <div class="form-group">
                            <label>Nombre del rol</label>
                            <input type="text" name="nombre" class="form-control">
                        </div>
                        <button class="btn btn-primary">Crear rol</button>
                    </form>
                </div>
                <div class="col-lg-4">
                    <img width="200px" src="http://www.drlopezalejandro.com/views/layout/default/img/login.png">
                </div>
            </div>
        </div>
    </div>
</div>