@model Producto

<div class="col-lg-8" >
    <div class="text-center">
        <h1>Registro de Productos</h1>
    </div>

    <form method="post">
        <div asp-validation-summary="All"></div>

        <div class="form-group">
            <label asp-for="Foto"></label>
            <input asp-for="Foto" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Nombre"></label>
            <input asp-for="Nombre" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Marca"></label>
            <select asp-for="Marca" class="form-control">
                <option value="Seleccionar">Seleccionar</option>
                <option value="A">aaa</option>
                <option value="B">bbb</option>
                <option value="C"></option>
                <option value="D"></option>
                <option value="E"></option>
                <option value="F"></option>
                <option value="G"></option>
                <option value="H"></option>
                <option value="I"></option>
                <option value="J"></option>
            </select>
        </div>

        <div class="form-group">
            <label asp-for="Medida"></label>
            <input asp-for="Medida" class="form-control">
        </div>

        <div class="form-group">
            <label asp-for="Precio"></label>
            <input asp-for="Precio" class="form-control">
        </div>
        
        <div class="form-group">
            <label asp-for="Descripcion"></label>
            <textarea asp-for="Descripcion" rows="5" class="form-control"></textarea>
        </div>

        <button class="btn btn-success">Registrar</button>
    </form>
</div>