<div class="text-center">
    <h1>LA EMPRESA</h1><br>
</div>
<div class="content">
    <div class="container">
        <div class="row"> 
            <div class="col-lg-6">
                <div class="title-style-1 marginb30 margint30">
                    <h4>¿Quiénes Somos?</h4>
                    <p>
                        Somos una empresa que busca ayudar a las personas a llevar un mejor estilo de vida. Vida saludable 
                        cuenta con muchas terapias alternativas que te ayudarán a mejorar tu salud.
                    </p><br>

                    <h4>Misión</h4>
                    <p>
                        Brindar atención médica alternativa de calidad; basada en una alimentación cruda, fresca y viva, 
                        conduciendo a los pacientes a obtener un estilo de vida saludable y mejorando la calidad de vida física, 
                        mental y espiritual.
                    </p><br>
                    
                    <h4>Visión</h4>
                    <p>
                        Ser un centro de medicina alternativa líder en la prevención y tratamiento de enfermedades, 
                        creando conciencia en adoptar un estilo de vida saludable.
                    </p>      
                </div>
            </div>
            <div class="col-lg-6 margint30">
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcTzxGqDlfiPyQb-IETKsAuBExQmWJZ9hODWCwvWCiZ-9PDWAdnw" class="img-fluid" alt="Responsive image">
                <br>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcR36gLcUCKr9F5d159cj7KCkt4rn27IF2QUKTigEiqtA-FgnBzd" class="img-fluid" alt="Responsive image">
            </div>
        </div>
    </div>
</div>